APP_NAME="Max Trekking"
APP_ENV=local
APP_KEY=base64:yoXY6GkL1ssfj89tELEF+8pWPBg7qvCe/lBHHgJ1erA=
APP_DEBUG=false
APP_URL=https://localhost/

LOG_CHANNEL=stack

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

## Live
HCAPTCHA_SECRET=0x742C380A85d66B4DF6601F2bfa2116c18A58a8Be
HCAPTCHA_SITEKEY=6233e84f-4dc4-43f4-9cd3-211625769bbf

SITE_KEY = '6Lenw6QpAAAAAI6cdjxm1zmcEkcx4PXNtGMyZ8Qf'
SECRET_KEY = '6Lenw6QpAAAAALlo8hIcETaBKGzx-zRlWlsdMFGe'

POWERED_BY=http://cyberlink.com.np
BANNER_WIDTH=1800
BANNER_HEIGHT=1013
MEDIUM_WIDTH=1000
MEDIUM_HEIGHT=600
GALLERY_IMAGE_THUMB_WIDTH=
GALLERY_IMAGE_THUMB_HEIGHT=

PUBLIC_PATH=

ANALYTICS_VIEW_ID=191250005